.IdleCharacter {
  height: 800px;
  margin-left: 65px;
  margin-top: -10px;

  @media only screen and (max-width: 1000px) {
    margin-left: 0;
    canvas {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
